# Note: This notebook is for extracting data from text books for uploading to TigerGraph studio.
## This data is already generated and available at Data/csv/11_python.csv 
### PS: The above csv contains all 6(6th-10th science and 11th python) textbooks data. Not just 11th python as the name suggests

In [81]:
# install dependencies
# you'll have to install general data science libraries like numpy and pandas if they are not available on your system

# !pip install numpy
# !pip install pandas
!pip install pdfplumber
!pip install clean-text
!pip install nltk
!pip install keybert
!pip install transformers
!pip install sentence-transformers
!pip install tqdm

In [82]:
import nltk

# download english stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/sankepally/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

# Import statements

In [1]:
import numpy as np
import pandas as pd
import pdfplumber
from cleantext import clean
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

In [2]:
from nltk.corpus import stopwords
from keybert import KeyBERT
from cleantext import clean

stop_words = stopwords.words('english')

kw_model = KeyBERT()

def extract_keywords(sentence):
    lis = kw_model.extract_keywords(sentence, keyphrase_ngram_range=(1, 1), stop_words = stop_words, top_n = 3)
    clean_list = []
    for each in lis:
        clean_each = clean(each[0].strip(), no_numbers=True, replace_with_number="", no_punct=True)
        if '' != clean_each:
            clean_list.append(clean_each)
    return clean_list

In [3]:
extract_keywords('war is bad')

['war', 'bad']

In [4]:
from sentence_transformers import SentenceTransformer, util

model = SentenceTransformer('all-MiniLM-L6-v2')

def extract_embedding(sentence):
    return str(list(model.encode(sentence)))

In [5]:
extract_embedding('war is never good')

'[0.002829365, 0.024987437, 0.015249953, -0.021388775, -0.0522007, 0.09914375, 0.0010025097, -0.11118701, -0.00068331807, 0.03139175, -0.013233021, 0.06263115, 0.034528036, 0.009428903, -0.08118215, 0.0462052, -0.04227168, -0.043866996, -0.026571063, -0.01029072, -0.06500262, 0.055710282, 0.10370304, 0.029750353, -0.04489703, 0.0071981503, -0.007854432, 0.009255177, -0.05181875, 0.059535883, 0.03223194, 0.03462218, -0.07084622, 0.03612974, 0.03379692, -0.008233604, -0.0014060126, 0.050732393, 0.015356616, -0.023598855, -0.028280608, -0.014991093, -0.013565133, -0.029381888, 0.020428535, 0.040843867, 0.024555419, -0.017937401, 0.07358307, 0.0103214905, -0.013437979, -0.029363407, -0.01496702, -0.01783271, 0.07996846, -0.0063506006, 0.028404886, 0.043091964, 0.061533324, -0.016756872, -0.01935311, 0.008117353, -0.01038007, -0.09968768, 0.080171615, -0.0006195122, 0.03700022, 0.09160838, -0.13171138, 0.06295779, -0.04772893, 0.030385371, 0.011729667, -0.029647289, -0.043181516, 0.04575905, 0.025888376, 0.0005563873, 0.088342056, 0.037214063, 0.060361855, -0.025425408, -0.028945448, 0.062726274, 0.04025622, -0.06255585, 0.01244649, -0.015967, 0.0770817, -0.0044581518, -0.06534957, 0.034435034, 0.07378596, 0.08216731, 0.0331151, 0.019939838, 0.08071493, 0.009083081, -0.119018346, 0.14900307, 0.03226466, -0.07228034, -0.04629236, -0.043192588, 0.035564538, 0.0007130592, 0.045203317, 0.045129232, -0.059802268, 0.018508771, -0.044363067, 0.010429015, -0.0041132267, 0.017134048, -0.014428528, 0.024700223, 0.037841395, -0.06894922, -0.10168988, 0.06891189, -0.018797494, -0.032138053, -0.05412307, 0.06310468, -0.06831254, -0.051581394, 0.008962913, -1.9249212e-33, -0.023507891, -0.10049499, 0.032952905, -0.0033479684, -0.08548621, 0.011223956, 0.02737635, -0.039218802, 0.030714145, -0.031515595, -0.07692049, 0.00076310826, -0.021803187, 0.056587826, 0.09769284, -0.01591334, -0.050800033, 0.069177955, 0.010320569, 0.0005036231, -0.026933195, -0.008940619, -0.0143568115, -0.08744422, 0.029122196, 0.012929261, 0.00022895451, -0.048364837, -0.012205473, 0.029624665, -0.023939064, 0.041492287, 0.022144224, -0.009797382, 0.05052987, -0.017186351, -0.09481981, 0.04311105, -0.032602116, 0.0021293284, 0.0075464654, 0.100811236, -0.048333008, -0.00029774764, 0.1883988, -0.0087485425, -0.0073507377, -0.04579463, -0.1330884, -0.005347447, 0.027870875, -0.054164205, -0.01794874, 0.013343241, 0.013973473, 0.016128156, 0.038114116, 0.085552774, -0.09241776, -0.068154946, -0.011418885, -0.0026176388, 0.044492073, -0.034008868, -0.034299284, 0.03525745, -0.010488827, 0.026910597, -0.041435998, -0.0694784, -0.0058195414, 0.020687833, 0.02469973, -0.07780922, 0.012656836, -0.014243114, 0.03414044, 0.034182042, -0.027987355, 0.023399657, -0.04283007, 0.002022126, 0.021708233, -0.06275114, 0.07295564, -0.046790827, -0.015979929, -0.08366281, 0.0008655479, 0.06809868, -0.02940085, -0.0076159327, 0.06255851, -0.0077742846, -0.039079625, 2.3623921e-33, -0.0013138665, 0.0528175, 0.05736562, 0.035344828, -0.065829515, 0.012070879, -0.007691702, 0.08174487, -0.06370915, 0.08537719, 0.03881196, -0.009321139, 0.02019436, 0.07490182, 0.09395892, -0.013853509, 0.10505313, 0.012366864, 0.03827588, -0.026409257, 0.010234152, 0.031224953, -0.065796934, 0.019355686, -0.035756383, 0.0082940245, -0.06456768, 0.0344226, -0.058931433, 0.030980706, 0.059771195, -0.03384019, -0.021689069, -0.0043114186, 0.0904824, -0.017928421, 0.07580735, -0.083566464, 0.004366343, -0.028263215, -0.022229664, 0.0333189, -0.04599399, 0.013483458, -0.10488637, -0.041799612, -0.009239298, -0.003650972, 0.025233286, -0.022061486, -0.029777538, -0.05349808, -0.034870353, -0.03714482, -0.028954826, 0.040911205, -0.030577563, -0.0063123247, -0.09783535, 0.01886184, -0.073726974, 0.0069942256, -0.03041637, 0.04597826, -0.009876341, -0.009844209, -0.0032409625, 0.074007675, 0.0646427, 0.028320065, -0.043904234, 0.030405704, -0.13088815, 0.003371337, 0.04230845, 0.06262798, -0.02688568, 0.0561124, -0.033102855, 0.002631843, -0.012552551, 0.041984897, -0.057663266, 0.0037862805, -0.08113432, 0.008394405, 0.08841289, 0.114924975, -0.01159982, 0.02728802, 0.0048014815, -0.08628315, -0.01784707, -0.0039457525, 0.0010822032, -1.3555645e-08, 0.009825354, 0.009991699, 0.09735664, 0.034867838, -0.14900486, -0.0006177626, 0.0041569276, -0.02962267, -0.010127482, 0.08416944, 0.03963021, 0.04362868, -0.10700749, -0.0114883045, -0.03679552, 0.03213905, 0.010312268, -0.07050506, -0.07518929, -0.021167338, -0.016190495, 0.003495396, 0.007954901, 0.014641542, 0.013195854, 0.09239079, -0.031944763, -0.03216336, -0.03428535, 0.07342746, 0.12314598, 0.028504755, -0.061505966, -0.0039058742, -0.04498471, 0.010008929, 0.030338034, -0.086015426, -0.03192922, -0.061822306, -0.058863677, 0.16785976, 0.039584283, -0.04016883, -0.01736493, 0.08572715, 0.024210962, -0.027301595, -0.08639491, -0.053684305, 0.041707657, 0.032670293, -0.012700687, 0.06426031, 0.031742327, 0.0629224, 0.10516933, 0.013414759, 0.01387135, 0.059089646, 0.037917975, -0.07800721, 0.018255409, 0.050891247]'

In [ ]:
## tensor version
# def extract_embedding(sentence):
#     return model.encode(sentence, convert_to_tensor=True)

In [6]:
# stemmer

from nltk.stem.snowball import SnowballStemmer

englishStemmer=SnowballStemmer("english")

def stem(word):
    return englishStemmer.stem(word)

In [7]:
stem('having')

'have'

In [8]:
from tqdm import tqdm
import re

def get_words(file, grade, subject):
    
    # data file
    # file = 'Data/Computer-Science-Python-Book-Class-XI.pdf'
    extracted_txt = []
    
    df = pd.DataFrame(columns=['word', 'sentence', 'page', 'book', 'subject', 'grade', 'concat'])
    
    stop_words = stopwords.words('english')
#     punctuations = ['(',')',';',':','[',']',',']
    
    # set types
    df['word'] = df['word'].astype('str')
    df['sentence'] = df['sentence'].astype('str')
    df['page'] = df['page'].astype('int')
    df['book'] = df['book'].astype('str')
    df['subject'] = df['subject'].astype('str')
    df['grade'] = df['grade'].astype('int')
#     df['embedding'] = df['embedding'].astype('object')
    df['concat'] = df['concat'].astype('str')
    
    # load file into pdfplumber
    pdf = pdfplumber.open(file)
    
    # loop each page
    # ignore starting and ending pages
    for i in tqdm(range(10, len(pdf.pages)-5)):
        x = pdf.pages[i].extract_text()
        clean_x_list = clean(x, no_line_breaks=True).split('.')
        
        # for each sentence of the page, extract words
        for each in clean_x_list:
            
            # extract key words
            keywords = extract_keywords(each)
            # get embedding
#             embedding = extract_embedding(each)
            # add to df
            for word in keywords:
                df = df.append({'word':stem(word), 'sentence': re.sub('[\|\"\#]', '', each ), 'page':i+1, 'book':str(grade) + '_' + subject,'subject':subject, 'grade':grade, 'concat':'#'}, ignore_index=True)
    return df

# Book: 11th class python

In [250]:
new_res_df = get_words('Data/ncert-science/Computer-Science-Python-Book-Class-XI.pdf',11,'python')

100%|██████████| 257/257 [02:47<00:00,  1.53it/s]

In [251]:
new_res_df.to_csv('Data/csv/11_python.csv',index=False, sep='|',quotechar='"')

# Book: 8th class science

In [257]:
science8_df = get_words('Data/ncert-science/Science-Class-8.pdf', 8, 'science')

100%|██████████| 249/249 [05:46<00:00,  1.39s/it]

In [259]:
science8_df.sample(10)

,word,sentence,page,book,subject,grade,concat
2390,mug,what is the material of the buckets or mugs y...,49,8_science,science,8,#
15409,rain,wonder whether acid rain you know that co is ...,254,8_science,science,8,#
4015,magnesium,we learnt that magnesium burns to form magnes...,76,8_science,science,8,#
962,soil,sow some seeds in the soil and arrange to wat...,27,8_science,science,8,#
7560,gland,milk secreting glands or mammary glands devel...,129,8_science,science,8,#
15489,warm,majority of people living in regions which ar...,255,8_science,science,8,#
14961,planet,in a planetarium you can see the motion of th...,248,8_science,science,8,#
2122,clamp,nylon take an iron stand with a clamp,46,8_science,science,8,#
7216,find,find out if the twins are identical or non-id...,124,8_science,science,8,#
5247,live,many tribals still live in the area,94,8_science,science,8,#

In [261]:
science8_df.to_csv('Data/csv/11_python.csv',mode='a', index=False, sep='|',quotechar='"')

# Book: 9th class science

In [9]:
science9_df = get_words('Data/ncert-science/Science-Class-9.pdf',9,'science')

100%|██████████| 213/213 [13:14<00:00,  3.73s/it]

In [10]:
science9_df.sample(10)

,word,sentence,page,book,subject,grade,concat
13541,helicobact,list any three reasons why you that a bacteri...,190,9_science,science,9,#
2264,carbon,we may not be able to see - sodium acetate + ...,43,9_science,science,9,#
552,liquid,this heat gets used up in changing the liquid...,17,9_science,science,9,#
4722,life,"in this process, each cell called mother cell...",75,9_science,science,9,#
9600,kg,5) as n m2 kg-2,144,9_science,science,9,#
3672,averag,"but if an element occurs in q isotopic forms,...",63,9_science,science,9,#
10449,mass,* gravitation is a weak force unless large ma...,153,9_science,science,9,#
7395,graph,"5, draw 1 2 perpendiculars from the points cor...",115,9_science,science,9,#
2640,polyatom,in case the number of 2 polyatomic ion is one...,48,9_science,science,9,#
7096,object,"when an object is moving most cases, objects ...",111,9_science,science,9,#

In [11]:
science9_df.to_csv('Data/csv/11_python.csv',mode='a', index=False, sep='|',quotechar='"')

# Book: 10th class science

In [12]:
science10_df = get_words('Data/ncert-science/Science-Class-10.pdf',10,'science')

100%|██████████| 277/277 [20:54<00:00,  4.53s/it]

In [13]:
science10_df.sample(10)

,word,sentence,page,book,subject,grade,concat
1495,juic,2 saliva (after meal) what is the nature of e...,36,10_science,science,10,#
11885,mirror,the magnification produced by a spherical mir...,195,10_science,science,10,#
15353,motor,we have seen the working of a split ring comm...,246,10_science,science,10,#
11212,index,from the table you can know that the refracti...,185,10_science,science,10,#
13499,silver,2 electrical resistivity* of some substances a...,217,10_science,science,10,#
8807,matur,"changes in the body at puberty, such as incre...",150,10_science,science,10,#
12327,near,"the near point, for the person, is farther aw...",200,10_science,science,10,#
14431,compass,take a small compass and a bar magnet,234,10_science,science,10,#
14353,link,thus we can say that electricity and magnetis...,233,10_science,science,10,#
8855,reproduct,how are the modes for reproduction different ...,151,10_science,science,10,#

In [14]:
science10_df.to_csv('Data/csv/11_python.csv',mode='a', index=False, sep='|',quotechar='"')

# Book: 7th class science

In [15]:
science7_df = get_words('Data/ncert-science/Science-Class-7.pdf',7,'science')

100%|██████████| 233/233 [05:53<00:00,  1.52s/it]

In [16]:
science7_df.sample(10)

,word,sentence,page,book,subject,grade,concat
4525,profound,it has a profound effect on our lives,82,7_science,science,7,#
13853,situat,the situation water,239,7_science,science,7,#
10487,standard,"bureau of indian standards, new delhi assigns...",179,7_science,science,7,#
7257,slowest,rate of breathing will be the slowest and sup...,125,7_science,science,7,#
4061,calcium,"indeed, every new carbon dioxide (co ) + lime...",76,7_science,science,7,#
2932,convect,"these are conduction, convection and radiation",59,7_science,science,7,#
630,absorb,(c) in photosynthesis solar energy is absorbe...,23,7_science,science,7,#
2459,fig,(fig,52,7_science,science,7,#
774,various,1 various modes of feeding 4,25,7_science,science,7,#
6763,soil,"for paddy, soils rich components of soil, det...",117,7_science,science,7,#

In [17]:
science7_df.to_csv('Data/csv/11_python.csv',mode='a', index=False, sep='|',quotechar='"')

# Book: 6th class science

In [19]:
science6_df = get_words('Data/ncert-science/Science---Class-6.pdf',6,'science')

100%|██████████| 161/161 [03:30<00:00,  1.31s/it]

In [20]:
science6_df.sample(10)

,word,sentence,page,book,subject,grade,concat
5993,subtract,you cannot measure the girth of subtract the ...,110,6_science,science,6,#
10,boil,"we take at different times, isn't it? raw ric...",11,6_science,science,6,#
2550,mixtur,nnnnn difference in the size of particles in ...,54,6_science,science,6,#
4787,fish,the habitat provides we discussed in chapter ...,91,6_science,science,6,#
1530,type,2 different types of objects let us be a littl...,37,6_science,science,6,#
3157,plant,"activity 2 we would require a glass, water, r...",64,6_science,science,6,#
4306,bodi,"part of the body, keeping the rear place the ...",83,6_science,science,6,#
7845,south,using this you can figure out which end of th...,140,6_science,science,6,#
5954,length,"even today, we before we do that, we do need ...",109,6_science,science,6,#
7560,fig,these are known as fig,136,6_science,science,6,#

In [21]:
science6_df.to_csv('Data/csv/11_python.csv',mode='a', index=False, sep='|',quotechar='"')

# Add index for sentence_id

In [33]:
df = pd.read_csv('Data/csv/11_python.csv', sep='|',quotechar='"')

In [39]:
df['grade'].unique()

array([11,  8,  9, 10,  7,  6])

In [30]:
df = df[~(df['grade']=='grade')]

In [38]:
df.to_csv('Data/csv/11_python.csv',mode='w', index=True, sep='|',quotechar='"')

In [37]:
df

,word,sentence,page,book,subject,grade,concat
0,unit,unit 1,11,11_python,python,11,#
1,comput,chapter 1 computer fundamentals after studying...,12,11_python,python,11,#
2,fundament,chapter 1 computer fundamentals after studying...,12,11_python,python,11,#
3,comput,chapter 1 computer fundamentals after studying...,12,11_python,python,11,#
4,comput,may it be the field of education and research...,12,11_python,python,11,#
...,...,...,...,...,...,...,...
81533,sheet,they or a sheet of newspaper on the paste to ...,171,6_science,science,6,#
81534,soak,let it soak up the extra water,171,6_science,science,6,#
81535,water,let it soak up the extra water,171,6_science,science,6,#
81536,let,let it soak up the extra water,171,6_science,science,6,#
81537,garbag,"garbage in, garbage out 161 2019-20",171,6_science,science,6,#